{% extends 'index.html' %}
{% block content %}
<div class="header-container">
    <div class="greetings">
        {% with current_hour=now.hour %}
            {% if current_hour < 12 %}
                <h1>Good morning!</h1>
            {% elif current_hour < 18 %}
                <h1>Good afternoon!</h1>
            {% else %}
                <h1>Good evening!</h1>
            {% endif %}
        {% endwith %}
    </div>
    <div class="search-bar">
        <form method="get" action="{% url 'todo_list' %}">
            <input type="text" name="q" placeholder="Search todos" >
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="todo-container">    
    {% if todos %}
        {% for todo in todos %}
        <div class="todo-card {% if todo.completed %}completed{% endif %}">
            <div class="todo-header">
                <h2>{{ todo.title }}</h2>
                <form method="post" action="{% url 'todo_update' todo.pk %}" class="todo-checkbox-form">
                    {% csrf_token %}
                    <label class="custom-checkbox">
                        <input type="checkbox" name="completed" onchange="this.form.submit()" {% if todo.completed %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                </form>
            </div>
            <p>{{ todo.description }}</p>
            <div class="todo-actions">
                <a href="{% url 'todo_update' todo.pk %}" class="btn btn-edit"><i class="fas fa-edit"></i> Edit</a>
                <a href="{% url 'todo_delete' todo.pk %}" class="btn btn-delete"><i class="fas fa-trash"></i> Delete</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="no-results">
            <p>No matching todos found.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
